django==6.0.1
djangorestframework
python-dotenv
djangorestframework-simplejwt
drf-yasg
gunicorn
whitenoise
dj-database-url
psycopg2-binary
openpyxl
Pillow
qrcode[pil]
python-barcode
django-cors-headers
